<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户登录 - 开发者中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-modal.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-modal-bs3patch.css" rel="stylesheet">
    <link href="/stylesheets/base-main.css" rel="stylesheet">
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </head>
  <body>
      首页来了啊
  </body>
</html>