<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>网站首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/create">发布新文章</a></li>
          <li ><a href="javascript:;;">文章管理</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

    <% if(data.length > 0) {%>
      <section id="cd-timeline" class="cd-container" style="margin-top: 50px;">
        <% for(var i=0; i<data.length; i++) { %>
          <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
              <img src="/images/cd-icon-picture.svg" alt="Picture">
            </div>
            <div class="cd-timeline-content">
              <h2><%=data[i].title %></h2>
              <p>
                <%=data[i].desc %>
                <img src="http://7xjik2.com1.z0.glb.clouddn.com/<%=data[i].img %>" alt="Picture">
              </p>
              <!--
                <a href="javascript:;;" class="cd-read-more" target="_blank">阅读全文</a>
              -->
              <span class="cd-date"><%=data[i].created %></span>
            </div>
          </div>
        <% } %>
      </section>

      <div style="height: 20px;" ></div>
      <% } else {%>
        <div id="divProductDetailEmpty" class="empty">
          <div class="ic-empty"></div>
          <p class="text-center">暂无记录 <br/> <br/> <a class="btn btn-primary btn-lg" href="/">刷新本页</a></p>
        </div>
      <%}%>
  <div id="divLoad" style="display:none;"><div class="load"><i></i>请稍候...</div><div class="modal-backdrop fade in"></div></div>
  <input id="currentPage" type="hidden" value="0" />
  <script type="text/javascript">

    $(document).ready(function(){

      //滚动条在Y轴上的滚动距离
      function getScrollTop(){
        var scrollTop = 0, bodyScrollTop = 0, documentScrollTop = 0;
        if(document.body){bodyScrollTop = document.body.scrollTop;}
        if(document.documentElement){
          documentScrollTop = document.documentElement.scrollTop;
        }scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop;return scrollTop;
      };
      //文档的总高度
      function getScrollHeight(){
        var scrollHeight = 0, bodyScrollHeight = 0, documentScrollHeight = 0;
        if(document.body){
          bodyScrollHeight = document.body.scrollHeight;
        }
        if(document.documentElement){
          documentScrollHeight = document.documentElement.scrollHeight;
        }
        scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight;
        return scrollHeight;
      };
      //浏览器视口的高度
      function getWindowHeight(){
        var windowHeight = 0;
        if(document.compatMode == "CSS1Compat"){
          windowHeight = document.documentElement.clientHeight;
        }else{
          windowHeight = document.body.clientHeight;
        }
        return windowHeight;
      };

      window.onscroll = function(){
        if(getScrollTop() + getWindowHeight() == getScrollHeight()){
          if(!$("#divLoadMsg").is(":visible")){
            $("#divLoad").show();
            query();
          }
        }
      };

      function query(){
        var currentPage = parseInt($("#currentPage").val()) + 1;
        var data = "offset="+currentPage+"&limit=10";
        var host = 'http://'+window.location.host;
        $.ajax({
          url:host+'/article/getAll',
          type:'POST',
          data:data,
          success:function(data,status){
            if(data.result==1 && status == 'success'){
                var len = data.data.length;
                var a = [];
                for(var i=0;i<len;i++){
                  var item = data.data[i];
                  var title = item.title;
                  var img   = item.img;
                  var type  = item.type;
                  var created = item.created;

                  a.push(format(temp,{
                    title:title,img:img,created:created
                  }));
                }
                $("#cd-timeline").append(a.join(''));
                $("#currentPage").val(currentPage);
                $("#divLoad").hide();
            }else{
              message.msg(data.msg);
              $("#divLoad").hide();
            }
          },
          error:function(res){
            message.msg(res);
            $("#divLoad").hide();
          }
        });
      };
      var temp = '<div class="cd-timeline-block">'+
                      '<div class="cd-timeline-img cd-picture"><img src="/images/cd-icon-picture.svg" alt="Picture"></div>'+
                          '<div class="cd-timeline-content">'+
                              '<h2>#{title}</h2>'+
                              '<p><img src="http://7xjik2.com1.z0.glb.clouddn.com/#{img}" alt="Picture"><p>'+
                              '<span class="cd-date">#{created}</span>'+
                      '</div>'+
                '</div>';

  function format(c, a) {
    c = String(c);
    var b = Array.prototype.slice.call(arguments, 1),
            d = Object.prototype.toString;
    if (b.length) {
      b = b.length == 1 ? (a !== null && (/\[object Array\]|\[object Object\]/.test(d.call(a))) ? a : b) : b;
      return c.replace(/#\{(.+?)\}/g, function(f, h) {
        var g = b[h];
        if ("[object Function]" == d.call(g)) {
          g = g(h);
        }
        return ("undefined" == typeof g ? "" : g);
      });
    }
    return c;
  };


    });
  </script>
  </body>
</html>