<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>网站首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-modal.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-modal-bs3patch.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <script src="/javascripts/jquery-1.10.2.js"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
        <ul class="nav navbar-nav" style="float: right;" >
          <li class="active"><a href="/create">CREATE</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="cd-timeline" class="cd-container">


    <% for(var i=0; i<data.length; i++) { %>
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
          <img src="/images/cd-icon-picture.svg" alt="Picture">
        </div>
        <div class="cd-timeline-content">
          <h2><%=data[i].title %></h2>
          <p>
            <%=data[i].desc %>
            <img src="http://7xjik2.com1.z0.glb.clouddn.com/<%=data[i].img %>" alt="Picture">
          </p>
          <a href="javascript:;;" class="cd-read-more" target="_blank">阅读全文</a>
          <span class="cd-date"><%=data[i].created %></span>
        </div>
      </div>

    <% } %>


    <!--
       <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-picture">
           <img src="/images/cd-icon-picture.svg" alt="Picture">
         </div>

         <div class="cd-timeline-content">
           <h2>宝贝1天</h2>
           <p>
               我家大宝出生的第一天，第一次呼吸这个世界的空气
             <img src="http://7xjik2.com1.z0.glb.clouddn.com/IMG_0737.JPG" alt="Picture">
           </p>
           <a href="javascript:;;" class="cd-read-more" target="_blank">阅读全文</a>
           <span class="cd-date">2015-01-06</span>
         </div>
       </div>
       <div class="cd-timeline-block">
         <div class="cd-timeline-img cd-movie">
           <img src="/images/cd-icon-movie.svg" alt="Movie">
         </div>

         <div class="cd-timeline-content">
           <h2>大宝开始探索新的区域</h2>
           <p>
             <video width="320" height="240" controls="controls">
               <source src="http://7xjik2.com1.z0.glb.clouddn.com/video_20150524_164223.mp4" type="video/3gpp">
               Your browser does not support the video tag.
             </video>
             <video width="320" height="240" controls="controls">
               <source src=""http://7xjik2.com1.z0.glb.clouddn.com/video_20150524_164223.mp4" type="video/mp4">
               Your browser does not support the video tag.
             </video>
           </p>
           <a href="javascript:;;" class="cd-read-more" target="_blank">阅读全文</a>
           <span class="cd-date">2014-12-25</span>
         </div>
       </div>

         <!--
           <div class="cd-timeline-block">
             <div class="cd-timeline-img cd-picture">
               <img src="/images/cd-icon-picture.svg" alt="Picture">
             </div>

             <div class="cd-timeline-content">
               <h2>PHP操作Session和Cookie</h2>
               <p>我们跟踪用户信息时需要用到Session和Cookie，比如用户登录验证、记录用户浏览历史，存储购物车数据，限制用户会话有效时间等。今天我们来了解下PHP是如何操作Session和Cookie的。</p>
               <a href="http://www.helloweba.com/view-blog-283.html" class="cd-read-more" target="_blank">阅读全文</a>
               <span class="cd-date">2014-12-20</span>
             </div>
           </div>
           <div class="cd-timeline-block">
             <div class="cd-timeline-img cd-movie">
               <img src="/images/cd-icon-movie.svg" alt="Movie">
             </div>

             <div class="cd-timeline-content">
               <h2>jQuery数字加减插件</h2>
               <p>我们在网上购物提交订单时，在网页上一般会有一个选择数量的控件，要求买家选择购买商品的件数，开发者会把该控件做成可以通过点击实现加减等微调操作，当然也可以直接输入数字件数。本文将介绍常见的几种使用spinner数字微调器来实现数字加减的功能的方法。</p>
               <a href="http://www.helloweba.com/view-blog-282.html" class="cd-read-more" target="_blank">阅读全文</a>
               <span class="cd-date">2014-12-14</span>
             </div>
           </div>
           <div class="cd-timeline-block">
             <div class="cd-timeline-img cd-movie">
               <img src="/images/cd-icon-location.svg" alt="Location">
             </div>

             <div class="cd-timeline-content">
               <h2>收集整理的非常有用的PHP函数</h2>
               <p>项目中经常会需要一些让人头疼的函数，作为开发者应该整理一个自己的函数库，在需要之时复制过来即可。本文作者收集整理数十个PHP项目中常用的函数，保证能正常运行，你只要复制粘贴到你项目中即可。</p>
               <a href="http://www.helloweba.com/view-blog-281.html" class="cd-read-more" target="_blank">阅读全文</a>
               <span class="cd-date">2014-12-05</span>
             </div>
           </div>
       -->
</section>

  </body>
</html>