<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>用户登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</head>
<body>
<nav  class="navbar navbar-default navbar-fixed-top" role="banner" style="text-align: center;color:white;">
  <h2>用户登录</h2>
</nav>

<div class="container" style="padding-top: 15px; margin-top: 70px;">
  <form class="form-horizontal" style="max-width: 350px; min-height: 550px; margin: 0 auto;">
    <div class="form-group row">
      <div class="col-md-12">
        <input id="UserName" name="UserName" value="" type="email" maxlength="79" min="5" class="form-control input-lg" placeholder="登录邮箱" required="" autofocus="">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <input id="Password" name="Password" type="password" class="form-control input-lg" maxlength="12" min="6" placeholder="登录密码" required="" autofocus="">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <button class="btn btn-lg btn-primary btn-block" type="button" id="btnLogin" >登录</button>
          <!--
          <a href="#" class="btn btn-lg btn-success" style="width: 120px;">注册</a>
          -->
      </div>
    </div>
  </form>
  <div id="divLoad" style="display:none;"><div class="load"><i></i>请稍候...</div><div class="modal-backdrop fade in"></div></div>
</div>

<div class="footer text-muted" style="text-align: center;">
  <p>
    <a href="#" class="text-muted" title="关于网站">关于网站</a> |<a href="#" class="text-muted" title="联系我们">联系我们</a>
  </p>
  <p>kfcode.cn  Copyright © 2015-
    <script type="text/javascript">var d = new Date();document.write(d.getFullYear());</script>. All rights reserved. 辽ICP备09016214号-4
  </p>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    $("#btnLogin").on("click",function(){
      var uName = $.trim($("#UserName").val());
      var uPwd  = $.trim($("#Password").val());

      if(uName == ""){
        message.msg("登录邮箱不可为空.");
        return false;
      }
      if(uPwd == ""){
        message.msg("登录密码不可为空.");
        return false;
      }

      var data = "userName="+uName+"&userPwd="+uPwd;
      var host = 'http://'+window.location.host;

      $("#btnLogin").addClass("disabled").html("登录中...");
      $("#divLoad").show();
      $.ajax({
        url:host+'/login',
        type:'POST',
        data:data,
        success:function(data,status){
          if(data.result==1 && status == 'success'){
              $("#btnLogin").removeClass("disabled").html("登录");
              $("#divLoad").hide();
              window.setTimeout(function(){
                location.href=host;
              }, 200);
          }else{
            message.msg(data.msg);
            $("#btnLogin").removeClass("disabled").html("登录");
            $("#divLoad").hide();
          }
        },
        error:function(res){
          message.msg(res);
          $("#btnLogin").removeClass("disabled").html("登录");
          $("#divLoad").hide();
        }
      });
    });

  });

</script>

</body>
</html>