<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>用户登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/base-main.css" rel="stylesheet">
  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</head>
<body>
<header class="navbar navbar-default navbar-fixed-top" role="banner" style="height:62px"></header>

<div class="container" style="padding-top: 15px; ">
  <form class="form-horizontal" style="max-width: 350px; min-height: 550px; margin: 0 auto;" action="http://kf.facecore.cn/Account/Login" method="POST">
    <div class="form-group row">
      <div class="col-md-offset-2 col-md-10">
        <h2>用户登录</h2>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <input id="UserName" name="UserName" value="admin@kfcode.cn" type="email" maxlength="79" min="5" class="form-control input-lg" placeholder="邮箱地址" required="" autofocus="">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <input id="Password" name="Password" type="password" class="form-control input-lg" maxlength="12" min="6" placeholder="登录密码" required="" autofocus="">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-11">
        <button class="btn btn-lg btn-primary" type="button" id="btnLogin" style="width: 120px;">登录</button>
        <a href="#" class="btn btn-lg btn-success" style="width: 120px;">注册</a>
      </div>
    </div>
  </form>

</div>

<div class="footer text-muted" style="text-align: center;">
  <p>
    <a href="#" class="text-muted" title="关于网站">关于网站</a> |<a href="#" class="text-muted" title="联系我们">联系我们</a>
  </p>
  <p>
    Copyright © 2015-2015 kfcode.cn All Rights Reserved. Kfcode 版权所有
  </p>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    $("#btnLogin").on("click",function(){
      var uName = $("#UserName").val();
      var uPwd  = $("#Password").val();

      var data = "userName="+uName+"&userPwd="+uPwd;

      console.log(data);
      var host = 'http://'+window.location.host;
      $.ajax({
        url:host+'/login',
        type:'POST',
        data:data,
        success:function(data,status){
          if(data.result==1 && status == 'success'){
              location.href=host;
          }else{
              alert(data.msg);
          }
        },
        error:function(res){
             alert(res);
        }
      });
    });

  });

</script>

</body>
</html>