<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/error_all.css?cnd=1231231' />
</head>
<body>
<div id="doc_main">
  <section class="bd clearfix">
    <div class="module-error">
      <div class="error-main clearfix">
        <div class="label"></div>
        <div class="info">
          <h3 class="title">啊哦，你访问的网页出现问题了。</h3>
          <div class="reason">
             <p>我们正积极的修正中....................</p>
          </div>

          <div class="oper">
            <p><a href="javascript:history.go(-1);">返回上一级页面&gt;</a></p>
            <p><a href="/">回到网站首页&gt;</a></p>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>